
@import './_fonts';
@import './_mixin';

.car {
	z-index: 0;
	width: 50%;
	height: auto;
	cursor: pointer;
	background-color: rgba($yellow-color, 0.25) !important;
	border-radius: 5px;
	@include form-shadow;
	margin: 1% auto;
	padding: 1% 0;
	overflow: hidden;
	transition: all 0.4s;
	animation: show-in-image 1s ease-out 0.0s forwards;

	&:hover {
		@include global-shadow;
	}

	&-title {
		padding: 20px 10px 20px 20px;
		overflow: auto;
	}

	&-h2 {
		font-size: 30px;
		font-weight: 500;
		color: rgba($black-color, 0.8);
		margin: 0 !important;
		margin-right: 15px !important;
		float: left;
	}

	&-trash-btn {
		float: right;
		font-size: 34px;
		font-weight: bold;
		color: $red-color;
		padding-top: 5px;
		padding-right: 10px;
		transition: all ease-out 0.3s;
	
		&:hover {
			transform: scale(1.2);
			color: $red-color-second;
		}
	}

	&-body {
		display: flex;

		&-image {
			width: 50%;
		}
	}

	&-footer {
		display: flex;
	}
}





.card-image {
	width: 100%;
	height: 250px;
}

.card-p-optional {
	color: black;
}

.card-dollars {
	color: darkcyan;
}

.loading {
	width: 100%;
	height: 100%;
}

.container-btn {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.like-btn {
	@include global-btn;
	background-color:cornflowerblue;
	color:azure;
	border: 2px solid cornflowerblue;
	
	&:hover {
		background-color: azure;
		color: cornflowerblue;
	}
}

.dislike-btn {
	@include global-btn;
	background-color: peru;
	color:azure;
	border: 2px solid peru;

	&:hover {
		background-color: azure;
		color: peru;
	}
}

.car-sign-in-btn {
	@include global-btn;
	background-color:darkcyan;
	color:azure;
	border: 2px solid darkcyan;

	&:hover {
		background-color: azure;
		color: darkcyan;
	}
}

.rent-content-rented {
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	color:crimson;
}

.rent-content-free {
	color: darkcyan;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
}
