.form {
	width: 60%;
	min-width: 350px;
	margin: auto;
	background: linear-gradient(rgba(1,135,134,0.5), rgba(1,135,134,0.3));
	border-radius: 5px;
	@include global-shadow;
	padding: 3% 5%;


	&-input-container {
		width: 100%;
		margin: 50px 0;
		position: relative;
	}

	&-title {
		color: rgba(1,135,134,1);
	}

	&-error-input-email {
		position: absolute;
		top: 50px;
		left: 0;
		color:crimson;
	}

	&-input {
		width: 100%;
		outline: none;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		color: #fff;
		padding: 11px 30px;
		font-size: 18px;

	}

	&-label {
		position: absolute;
		top: 10px;
		left: 15px;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		transition: all ease-out 0.4s;
	}

	&-input:focus ~ &-label {
		transform: scale(0.9) translate(-20px, -25px);
		color: rgba(1,135,134,1);
	}

	&-bottom-border {
		width: 0;
		height: 2px;
		position: absolute;
		background-color:  rgba(1,135,134,1);
		top: 43px;
		left: 0;
		transition: all ease-out 0.3s;
	}
	
	
	&-input:focus ~ .form-bottom-border {
		width: 100%;
	}

	&-error-textarea-description {
		position: absolute;
		top: 210px;
		left: 0;
		color:crimson;
	}

	&-textarea {
		width: 100%;
		height: 200px;
		background-color: transparent;
		outline: none;
		border: none;
		border-bottom: 1px solid #ffff;
		padding: 10px;
		color: #fff;
		font-size: 18px;
		transition: all ease-out 0.3s;
	}

	&-label-textarea {
		position: absolute;
		top: 10px;
		left: 15px;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		transition: 0.4s;
	}

	&-textarea:focus ~ &-label-textarea {
		transform: scale(0.9) translate(-20px, -25px);
		color: rgba(1,135,134,1);

	}

	&-bottom-border-textarea {
		position: absolute;
		width: 0;
		height: 2px;
		top: 199px;
		left: 0;
		background-color: rgba(1,135,134,1);
		transition: all ease-out 0.5s;
	}

	&-textarea:focus ~ &-bottom-border-textarea {
		width: 100%;
	}

	&-subscribe-btn {
		outline: none;
		cursor: pointer;
		border: 1px solid rgba(1,135,134,1);
		padding: 15px 30px;
		background-color:azure;
		color: rgba(1,135,134,1);
		border-radius: 3px;
		font-weight: bold;
		transition: all ease-out 0.3s;

		&:hover {
			background-color:rgba(1,135,134,1);
			color:azure;
			border: 1px solid azure;
		}
	}
}