@import './_fonts';
@import './_mixin';

.app {
	min-height: 100vh;
	position: relative;
}

.main-container {
	width: 100%;
	margin: 0;
	padding: 0% 0% 3% 0%;
	background: linear-gradient(rgba($blue-color,0.1), rgba($blue-color,0.1));
}


.container {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	@include flex-box(column, space-around, center);
	align-items: center;
}

.primary-container {
	width: 65%;
	margin: 0 auto;
	padding: 5% 3%;
	background-color:rgba($white-background, 0.75);

	h2 {
		text-align: center;
		margin: 5% 0;
	}

	p {
		font-size: 18px;
		line-height: 24px;
		margin: 0;
	}
}

.loading-container {
	width: 50%;
	height: auto;
	margin: auto;
}

.error {
	font-size: 50px;
	color:crimson;
}

.page-not-found {
	margin: 4% auto;
	text-align: center;
	font-size: 50px;
	color:#404040;
}

.page-not-found-img {
	opacity: 0;
	display: block;
	width: 60%;
	margin: 2% auto;
	animation: isShow 1.5s ease-out 0.1s forwards;
}



