

$white-background: rgba(250,250,250, 1);
$black-background: rgba(0,0,0, 1);
$gray-background: rgba(189,189,189, 1);
$yellow-color: rgb(251,239,181);
$blue-color: rgba(69,117,182, 1);
$blue-dark-color: rgb(39,81,154);
$black-color: rgb(0,0,0);
$gray-color: rgba(237,240,242, 1);
$red-color: rgba(136,16,4,1);
$red-color-second: rgba(174,43,37, 1);
