@mixin global-btn {
	cursor: pointer;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 3px;
	font-weight: bold;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	margin: 2%;
	text-transform: uppercase;
	transition: all ease-out 0.3s;

	&:hover {
		@include global-shadow;
	}
}

@mixin global-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
}


@mixin form-shadow {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);	
}

@mixin no-shadow {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);	
}

@mixin btn-hover-effect {
	-webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.75); 
	box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.75);
}

@keyframes isShow {
	from { opacity: 0; }
	to { opacity: 1; }
}

