
.my-room {
	width: 100%;

	&-forms {
		width: 100%;
		background: linear-gradient(rgba(1,135,134, 0.35), rgba(1,135,134,0.35));
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		padding: 5% 3%;
		text-align: center;
	}

	&-profile-img-photo {
		width: 200px;
		height: 200px;
		display: block;
		margin: 2% auto;
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	}

	&-upload-image-btn {
		@include global-btn;
		@include btn-hover-effect;
		background-color:whitesmoke;
		color:goldenrod;
		border: 2px solid whitesmoke;
	}


	&-create-card-form {
		width: 70%;
		background: linear-gradient(rgba(1,135,134, 0.5), rgba(1,135,134,0.5));
		margin: 5% auto;
		@include form-shadow;
		border-radius: 5px;
		padding: 2%;
	}

	&-create-card-form-info {
		font-size: 12px;
	}

	&-create-card-input {
		width: 100%;
		outline: none;
		border: none;
		padding: 7px 35px;
		margin: 2% 0;
		font-size: 14px;
		background-color:transparent;
		color: whitesmoke;
		border-bottom: 1px solid whitesmoke;
		transition: all 0.2s;

		&:focus {
			border-bottom: 2px solid whitesmoke;
		}

		&::placeholder {
			color: whitesmoke;
		}
	}

	&-forms-create-card-textarea {
		border: none;
		overflow: auto;
		outline: none;
		resize: none;
		width: 100%;
		height: 300px;
		background-color:ghostwhite;
		border-radius: 3px;
		padding: 3%;
		font-size: 18px;
		border: 2px solid transparent;
		transition: all ease-out 0.4s;

		&:focus {
			border-color: cadetblue;
		}
	}

	&-forms-create-btn {
		@include global-btn;
		@include btn-hover-effect;
		background-color:whitesmoke;
		color:rgba(1,135,134,0.85);
		border: 2px solid whitesmoke;
	}

	.container-cards {
		width: 100%;
		margin: 5% 0;
	}

	&-card {
		width: 80%;
		height: auto;
		margin: 3% auto;
		padding-bottom: 10px;
		overflow: hidden;
		background: linear-gradient(rgba(95,158,160,0.3), rgba(95,158,160,0.3));
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
		box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	}

	&-card-img-url {
		width: 100%;
		height: 360px;
	}

	&-card-paragraph {
		color:rgba(50, 50, 50, 0.8);
		margin: 0;
		padding: 0 0 0 10px;
		text-align: center;
	}
	
}